<p id="notice"><%= notice %></p>

<div style="text-align:center;">
  <p>&nbsp;</p>
  <p style="font-size:40px;">🎩</p>
  <h1>You've always wanted to know if you are wearing a hat or not</h1>
  <h2>Soon you will</h2>
  <p>Coming Spring 2019</p>
  <p><br><br></p>
  <h3>Press &amp; Critical acclaim</h3>
  <p>More important question though...<br>Is he 🎩 or not?<br>Going to get you to sign my quip tomorrow<br>Simon E</p>
  <p>Is that really what you're coding?<br>Ruslan K</p>
  <p>Quick question; will party hats be provided or should I bring my own?<br>Chris E</p>
  <p>He said he really enjoyed working with you<br>He wants in on hat or not . com<br>Chris P</p>
  <p>This is crazy !! I had no idea!!<br>Sophie M</p>
  <p>Jobs, Wozniak, Casalena<br>Ruslan K</p>
</div>